################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ColdStorageGO-Frontend/FileContentIndex
/.vs/ColdStorageGO-Frontend/FileContentIndex
/.vs/slnx.sqlite
*.wsuo
*.json
/.vs/slnx.sqlite
/.gitignore
